.tabs-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Space between tabs */
}

.tab {
    padding: 10px;
    background-color: #FFF;
    color: #2a9d8f;
    border: 1px solid #2a9d8f;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab.active {
    border: 1px solid #ccc;
    background-color: #2a9d8f;
    color: #FFF;
}

.Dashboard-filter-container {
    width: calc(100% - 30px);
    margin: 0 15px;
    background-color: #333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
}

.Dashboard-checkbox-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allows elements to wrap to next line on small screens */
}

.Dashboard-checkbox-label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    white-space: nowrap; /* Prevents the label from wrapping */
}

.Dashboard-checkbox {
    margin-right: 5px;
}

.Dashboard-monthDropdown {
    margin-left: 10px;
}

.Dashboard-checkbox-label {
    flex-shrink: 0; /* Prevents the label from shrinking smaller than its content */
}