.SelfExpense {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow */
    margin: 10px;
}

.SelfExpense h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#createSelfGroupBtn {
    background-color: #007bff; /* Blue button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.addExpenseSection {
    margin-top: 10px;
    background-color: #444; /* Darker background for expense section */
    padding: 10px;
    border-radius: 5px;
}

.addExpenseSection h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff; /* Light text color */
}

.addExpenseSection label {
    font-weight: bold;
    color: #fff; /* Light text color */
}

.addExpenseSection select,
.addExpenseSection input[type="text"],
.addExpenseSection input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #555; /* Darker input background */
    color: #fff; /* Light text color */
}

.addExpenseSection button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* Style select dropdown arrow */
.addExpenseSection select::-ms-expand {
    display: none;
}

.addExpenseSection select::-webkit-select-placeholder {
    color: #ccc; /* Placeholder color */
}

/* ExpenseRow Component Styles */
.ExpenseRow {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px; /* Adjust margin as needed */
    padding: 20px; /* Add padding as needed */
}

.ExpenseRow span {
    display: block;
    margin-bottom: 10px;
}

.ExpenseRow label {
    font-weight: bold;
}

.ExpenseRow select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Adjust styles for specific elements as needed */
.ExpenseRow .description {
    font-size: 18px;
}

.ExpenseRow .cost {
    color: #007bff;
    font-weight: bold;
}

.ExpenseRow .category-label {
    font-weight: bold;
}

.ExpenseRow .category-select {
    width: 100%;
    padding: 8px;
}